/* .products {
  width: 100%;
  padding: 20px;
  background-color: lightgray;
  margin: 20px;
} */

.products {
  display: flex;
  flex-direction: row;
  width:100%;
  padding:20px;
  background-color: rgb(197, 200, 180);
  column-gap: 4%;
  row-gap: 30px;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  width: 12%;
  padding: 1%;
  margin: 10px;
  background-color: rgb(209, 219, 190);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .product { 
  flex-direction: row;
  width: 22%;
  padding: 10px;
  background-color: steelblue;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
 } */

 .product img {
  width: 100%;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.p-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  padding:10px;
}
.p-price {
  font-size: 12px;
  font-weight: bold;
  padding:5px;
  margin-bottom: 10px;
}
.p-description {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}
